body, html{
    margin: 0px;
    padding: 0;
}

.formtext{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f1f1f2;
    margin: auto;
    width: 400px;
    padding: 30px 30px 30px 30px;
    margin-top: 10%;
    border-radius: 20px;
}

h1{
    font-size:2.2em;
    margin-top: 3px;
}

h2{
    font-size: 0.8em;
    margin-top: -20px;
}

.txt1{
    font-size: 0.8em;
    text-transform: uppercase;
}

.txt2{
    font-size: 0.8em;
    text-transform: uppercase;
}

.txt3{
    font-size: 0.8em;
    text-transform: uppercase;
}

input{
    margin-bottom: 10px;
    font-size: 0.8em;
    height: 20px;
    width: 98%;
}

button{
    background-color: #ffffff;
    padding: 10px 10px 10px 10px;
    border-radius: 0.1em;
    border: solid #000000 1px;
    text-transform: uppercase;
    list-style: none;
    margin-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

textarea{
    font-size: 0.8em;
    height: 50px;
    width: 98%;
}